@import "@meeco/style-kit";

@mixin center-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin toolbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid map-get($meeco-theme, "primary");
}

html,
body {
  margin: 0px;
  font-synthesis: none;
  -moz-font-feature-settings: "kern";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: grid;
  grid-template-columns: auto 0.5fr 0.5fr;
  button {
    outline: none;
  }
  .sidebar {
    @include center-align;
    min-height: 100vh;
    height: auto;
    padding: $grid * 2;
    background-color: $meeco-smoke;
    box-shadow: 2px 0px 4px 0px rgba(179, 179, 179, 1);
    color: map-get($meeco-theme, "dark");
    > div {
      margin: $grid * 2;
    }
    .content {
      margin: $grid * 2;
      button.text {
        color: map-get($meeco-theme, "dark");
      }
      div {
        @include center-align;
      }
      #signup,
      #welcome {
        display: none;
      }
      textarea {
        min-width: 320px;
        min-height: 80px;
        margin: $grid * 2 0px;
        padding: $grid;
        background-color: #fff;
        border-radius: $border-radius-standard;
        border: 3px solid #fff;
        box-shadow: $shadow-hard;
        color: map-get($meeco-theme, "dark");
        font-size: 18px;
      }
    }
  }

  .dashboard {
    height: auto;
    padding: $grid * 2;
    box-shadow: 2px 0px 4px 0px rgba(179, 179, 179, 1);
    .toolbar {
      @include toolbar;
    }
    .icon {
      width: 48px;
      height: 48px;
      border-radius: $border-radius-standard;
      background-color: $meeco-dark-blue;
      text-align: center;
      font-size: 22px;
      color: #fff;
      line-height: 48px;
    }
    .card-list,
    #template {
      display: flex;
      flex-wrap: wrap;
      > div {
        margin: $grid * 2;
      }
      .card {
        width: 100%;
        cursor: pointer;
      }
      .tile {
        width: 200px;
        justify-content: center;
        align-items: center;
        .content {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .icon {
            align-self: center;
            width: 60px;
            height: 60px;
          }
        }
      }
    }
  }

  .active {
    padding: $grid * 2;
    .toolbar {
      @include toolbar;
      border-bottom: 0px;
      button {
        background-color: map-get($meeco-theme, "light");
        i {
          font-size: 16px;
          color: map-get($meeco-theme, "dark");
        }
      }
    }
  }

  .active,
  #dashboard,
  #item-templates,
  #itemShow,
  #itemForm,
  #item-template {
    display: none;
  }
}
