@import "../node_modules/@meeco/style-kit/main.scss";

@mixin center-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin toolbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid map-get($meeco-theme, "primary");
}

@font-face {
  font-family: "meeco-icons";
  src: url("../node_modules/@meeco/style-kit/assets/meeco-icons.woff");
}

html,
body {
  margin: 0px;
  font-synthesis: none;
  -moz-font-feature-settings: "kern";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: grid;
  grid-template-columns: auto calc(100vw * 0.375) calc(100vw * 0.375);
  button {
    outline: none;
  }
  .sidebar {
    @include center-align;
    min-height: 100vh;
    height: auto;
    padding: $grid * 2;
    background-color: _tint($meeco-smoke, 75%);
    box-shadow: 2px 0px 4px 0px rgba(179, 179, 179, 1);
    color: map-get($meeco-theme, "dark");
    > div {
      margin: $grid * 2;
    }
    .content {
      margin: $grid * 2;
      button.text {
        color: map-get($meeco-theme, "dark");
      }
      div {
        @include center-align;
      }
      #signup,
      #welcome,
      #navbar {
        display: none;
      }
      textarea {
        min-width: 320px;
        min-height: 80px;
        margin: $grid * 2 0px;
        padding: $grid;
        background-color: #fff;
        border-radius: $border-radius-standard;
        border: 3px solid #fff;
        box-shadow: $shadow-hard;
        color: map-get($meeco-theme, "dark");
        font-size: 18px;
      }
      #navbar {
        ul {
          list-style: none;
          display: flex;
          flex-direction: column;
          li {
            margin-bottom: $grid * 4;
          }
        }
      }
    }
  }

  .dashboard {
    height: auto;
    padding: $grid * 2;
    box-shadow: 2px 0px 4px 0px rgba(179, 179, 179, 1);
    .toolbar {
      @include toolbar;
    }
    .icon {
      width: 48px;
      height: 48px;
      border-radius: $border-radius-standard;
      background-color: $meeco-dark-blue;
      text-align: center;
      font-size: 22px;
      color: #fff;
      line-height: 48px;
    }
    .card-list,
    #template {
      display: flex;
      flex-wrap: wrap;
      width: calc(100vw * 0.35);
      padding: $grid $grid * 2;
      .card {
        width: 100%;
        margin: $grid $grid * 2;
        cursor: pointer;
      }
    }
  }

  .active {
    padding: $grid * 2;
    ul {
      list-style: none;
      li {
        width: 380px;
        margin-bottom: $grid * 4;
        border-bottom: 1px solid map-get($meeco-theme, "light");
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
      }
      li:hover {
        color: darken(map-get($meeco-theme, "primary"), 10%);
      }
    }
    form {
      width: 400px;
    }
    .card {
      width: calc(100vw * 0.35);
      &.no-shadow {
        box-shadow: none;
        .footer {
          border-top: 0px;
          border-bottom: 1px solid map-get($meeco-theme, "light");
        }
      }
    }
    #item-detail {
      margin: $grid * 2;
    }
  }

  .active,
  #dashboard,
  #item-templates,
  #itemShow,
  #itemForm {
    display: none;
  }
}
